In [2]:
import json
customerjsonfile=open("C:\\Users\\yeruv\\Documents\\revature files\\po\\DataSets\\customers.json",'r')
transactionjsonfile=open("C:\\Users\\yeruv\\Documents\\revature files\\po\\DataSets\\transaction_logs.json",'r')
customerjsondata=customerjsonfile.read()
customerdata=json.loads(customerjsondata)
transactionjsondata=transactionjsonfile.read()
transactiondata=json.loads(transactionjsondata)
# print(customerdata)
# print(transactiondata)

In [3]:
#pandas
#customerdf
import pandas as pd
customerdf=pd.DataFrame(customerdata)
print(customerdf)

     customer_id     customer_name      country           city
0           9780      Jessica Hart   Martinique  South William
1           9169         Amy Clark   Kazakhstan     Davisville
2           6631  Danielle Elliott      Armenia     East Danny
3           8772     Robin Mendoza       Uganda    Johnsonbury
4           8913    Abigail Miller      Namibia  Wrightchester
..           ...               ...          ...            ...
995         6357    Jessica Castro     Dominica     Deannastad
996          244    Cheryl Ramirez       Malawi  Martinezmouth
997         4490   Luis Strickland        Italy     Oneilltown
998         2984    Jennifer Kelly      Bahamas    Xavierville
999         8760    Anthony Wilson  Switzerland      Torreston

[1000 rows x 4 columns]

In [4]:
#transactiondf
import pandas as pd
transactiondf=pd.DataFrame(transactiondata)

In [5]:
customerdf.info()
transactiondf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   country        1000 non-null   object
 3   city           1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   product_id              10000 non-null  int64
 3   product_name            10000 non-null  object
 4   product_category        10000 non-null  object
 5   payment_type            10000 non-null  object
 6   qty                     10000 non-null  int64
 7   price                   10000 non-null  int64
 8   datetime                10000 non-null  object
 9   ecommerce_website_name  10000 non-null  object
 10  payment_txn_id          10000 non-null  object
 11  payment_txn_success     10000 non-null  object
 12  failure_reason          10000 non-null  object
dtypes: int64(5), object(8)
memory usage: 1015.8+ KB

In [6]:
customerdf.info()
transactiondf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   country        1000 non-null   object
 3   city           1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   product_id              10000 non-null  int64
 3   product_name            10000 non-null  object
 4   product_category        10000 non-null  object
 5   payment_type            10000 non-null  object
 6   qty                     10000 non-null  int64
 7   price                   10000 non-null  int64
 8   datetime                10000 non-null  object
 9   ecommerce_website_name  10000 non-null  object
 10  payment_txn_id          10000 non-null  object
 11  payment_txn_success     10000 non-null  object
 12  failure_reason          10000 non-null  object
dtypes: int64(5), object(8)
memory usage: 1015.8+ KB

In [7]:
#finding missing values in the data
print("Finding missing values in cutomerdf:")
print(customerdf.isnull().sum()) # it checks if there are any missing columns in each column
print("Finding missing values in transactiondf:")
print(transactiondf.isnull().sum())

Finding missing values in cutomerdf:
customer_id      0
customer_name    0
country          0
city             0
dtype: int64
Finding missing values in transactiondf:
order_id                  0
customer_id               0
product_id                0
product_name              0
product_category          0
payment_type              0
qty                       0
price                     0
datetime                  0
ecommerce_website_name    0
payment_txn_id            0
payment_txn_success       0
failure_reason            0
dtype: int64

In [8]:
#check unique values - customerdf
# print(customerdf.head())
# print(customerdf['customer_id'].unique()) - it gives all the unique values
# print(customerdf['customer_id'].value_counts()) - it gives count of each values in the columns
# customerdf['customer_id'].duplicated() - it gives false if the values is not duplicated
#nunique - gives no of unique values in the particular column
print(customerdf.count())
cols=customerdf.columns
print("List of columns present in customerdf:")
print(cols)
print("Number of unique values present in each column")
for i in cols:
    print(f"{i}     : ",customerdf[i].nunique())

customer_id      1000
customer_name    1000
country          1000
city             1000
dtype: int64
List of columns present in customerdf:
Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')
Number of unique values present in each column
customer_id     :  1000
customer_name     :  997
country     :  238
city     :  950

In [9]:
# check unique values - transactiondf
print(transactiondf.count())
print("List of columns present in transactiondf:")
cols=transactiondf.columns
print(cols)
print("Number of unique values present in each column")
for i in cols:
    print(f"{i} : ",transactiondf[i].nunique())

order_id                  10000
customer_id               10000
product_id                10000
product_name              10000
product_category          10000
payment_type              10000
qty                       10000
price                     10000
datetime                  10000
ecommerce_website_name    10000
payment_txn_id            10000
payment_txn_success       10000
failure_reason            10000
dtype: int64
List of columns present in transactiondf:
Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')
Number of unique values present in each column
order_id :  10000
customer_id :  671
product_id :  6281
product_name :  6246
product_category :  10
payment_type :  4
qty :  50
price :  9542
datetime :  9996
ecommerce_website_name :  10
payment_txn_id :  10000
payment_txn_success :  2
failure_reason :  6

In [10]:
df1=transactiondf[['order_id','customer_id','product_id','payment_txn_id','qty','price','datetime','ecommerce_website_name']]

In [11]:
df2=transactiondf[['product_id','product_name','product_category']]
print(df2.count())
print(df2['product_id'].nunique())
print(df2['product_name'].nunique())
print(df2['product_category'].nunique())
# print(dv)
df2s=df2
df2s=df2s.drop_duplicates(subset='product_id')
print(df2s)
print(df2s['product_id'].nunique())
print(df2s['product_name'].nunique())
print(df2s['product_category'].nunique())

product_id          10000
product_name        10000
product_category    10000
dtype: int64
6281
6246
10
      product_id           product_name product_category
0           8609  Central home & kitche   Home & Kitchen
1           2409             Upon sport           Sports
2           1145       Across stationer       Stationery
3           8375    Start home & kitche   Home & Kitchen
4           2149             Draw beaut           Beauty
...          ...                    ...              ...
9988        7708    Carry home & kitche   Home & Kitchen
9993        6125               Time toy             Toys
9994        3688          Special sport           Sports
9997        3852            Human beaut           Beauty
9998        7324            Light beaut           Beauty

[6281 rows x 3 columns]
6281
4653
10

In [12]:
df3=transactiondf[['payment_txn_id','payment_type','payment_txn_success','failure_reason']]
df3

     payment_txn_id      payment_type payment_txn_success       failure_reason
0          a395e8c7            Wallet                   N         Card Expired
1          b40791f8              Card                   N          Invalid CVV
2          7fb6cca9              Card                   N         Blocked Card
3          cae677f3              Card                   N  Transaction Timeout
4          fbce1649              Card                   N          Invalid CVV
...             ...               ...                 ...                  ...
9995       03c982f7            Wallet                   Y
9996       46bd0811  Internet Banking                   N         Blocked Card
9997       d115279c               UPI                   Y
9998       6d1628b3               UPI                   N         Card Expired
9999       224381cd               UPI                   N   Insufficient Funds

[10000 rows x 4 columns]

In [13]:
import mysql.connector
# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Srilekha@04",
    database="Revstore1"
)
cursor = conn.cursor()

In [14]:
import Database_methods

In [14]:
Database_methods.create_and_verify_database(cursor,'revs')

revs
Database 'revs' created successfully or already exists.

In [15]:
Database_methods.delete_and_verify_database(cursor,'revs')

Attempted to drop database 'revs'
Database 'revs' deleted successfully.

In [22]:
Database_methods.use_and_verify_database(cursor,'test01')

Attempted to use database 'test01'
Database 'test01' is now in use.

In [23]:
cursor.execute("select * from course")
result=cursor.fetchmany()
for row in result:
    print(row)

('tony', 1, 'cse')

In [18]:
Database_methods.show_all_databases(cursor)

Databases:
grocery
information_schema
mysql
performance_schema
revs
revstore
revstore1
revstore2
revstore3
sys
test01
test02
test03

In [16]:
import DDL_methods

In [17]:
query="""CREATE TABLE IF NOT EXISTS CustomersA (
            customer_id INT PRIMARY KEY,
            customer_name VARCHAR(255),
            country VARCHAR(255),
            city VARCHAR(255)
            );
            """
DDL_methods.create_and_verify_table(cursor,'CustomersA', query)

customersa
successfully created the table

In [18]:
DDL_methods.create_and_verify_table(cursor,'CustomersA', query)

customersa
successfully created the table

In [19]:
DDL_methods.show_all_tables(cursor)

Tables in the current database:
customers
customersa
orders
payments
products

In [23]:
DDL_methods.describe_table(cursor,'customersa')

Structure of table 'customersa':
('customer_id', 'int', 'NO', 'PRI', None, '')
('customer_name', 'varchar(255)', 'YES', '', None, '')
('country', 'varchar(255)', 'YES', '', None, '')
('city', 'varchar(255)', 'YES', '', None, '')

In [7]:
alter_query = "ALTER TABLE CustomersA ADD COLUMN email VARCHAR(255)"
DDL_methods.alter_table(cursor,'customersa',alter_query)

Alteration query executed on table 'customersa': ALTER TABLE CustomersA ADD COLUMN email VARCHAR(255)
Structure of table 'customersa' after alteration:
('customer_id', 'int', 'NO', 'PRI', None, '')
('customer_name', 'varchar(255)', 'YES', '', None, '')
('country', 'varchar(255)', 'YES', '', None, '')
('city', 'varchar(255)', 'YES', '', None, '')
('email', 'varchar(255)', 'YES', '', None, '')

In [5]:
DDL_methods.truncate_table(cursor,'customersa')

Error occurred while truncating the table 'customersa': 1146 (42S02): Table 'revstore1.customersa' doesn't exist

In [4]:
DDL_methods.drop_table(cursor,'customersa')

Table 'customersa' dropped successfully.

In [19]:
import DML_methods

In [20]:
insert_query="""
        INSERT INTO Customersa (customer_id, customer_name, country, city)
        VALUES (%s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE customer_name = VALUES(customer_name), country = VALUES(country), city = VALUES(city)
        """
data=customerdf.values.tolist()
DML_methods.insert_and_verify_data(cursor,conn,'customersa',insert_query,data)

Data inserted into 'customersa' successfully.
Total number of rows in 'customersa': 1000

In [21]:
set_clause="country='USA'"
condition="customer_id=102"
DML_methods.update_data(cursor, conn, 'customersa', set_clause, condition)

Data updated in 'customersa' successfully.

In [22]:
condition="customer_id=102"
DML_methods.delete_data(cursor, conn, 'customersa',condition)

Data deleted from 'customersa' successfully.

In [23]:
columns='*'
# DML_methods.select_data(cursor,'customersa',columns)

In [24]:
query="select country from customersa limit 10"
DML_methods.execute_query(cursor,conn,query)

('British Indian Ocean Territory (Chagos Archipelago)',)
('Somalia',)
('Timor-Leste',)
('Wallis and Futuna',)
('Tuvalu',)
('Isle of Man',)
('Latvia',)
('Central African Republic',)
('Greece',)
('Guinea',)
Query executed successfully.

In [15]:
#to mysql
import Database_methods
Database_methods.create_and_verify_database(cursor,'revstorep0')

revstorep0
Database 'revstorep0' created successfully or already exists.

In [16]:
import mysql.connector
# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Srilekha@04",
    database="revstorep0"
)
cursor = conn.cursor()

In [17]:
import DDL_methods
DDL_methods.drop_table(cursor,'customersa')

Table 'customersa' dropped successfully.

In [22]:
#create table
import DDL_methods
customer_query="""CREATE TABLE IF NOT EXISTS Customers (
            customer_id INT PRIMARY KEY,
            customer_name VARCHAR(255),
            country VARCHAR(255),
            city VARCHAR(255)
            );
            """
products_query="""
        CREATE TABLE IF NOT EXISTS Products (
            product_id INT PRIMARY KEY,
            product_name VARCHAR(255),
            product_category VARCHAR(255)
        );
        """
payments_query="""
        CREATE TABLE IF NOT EXISTS Payments (
            payment_txn_id VARCHAR(255) PRIMARY KEY,
            payment_type VARCHAR(255),
            payment_txn_success VARCHAR(255),
            failure_reason VARCHAR(255)
        );
        """
orders_query="""
        CREATE TABLE IF NOT EXISTS Orders (
            order_id INT PRIMARY KEY,
            customer_id INT,
            product_id INT,
            payment_txn_id VARCHAR(255),
            qty INT,
            price DECIMAL(10, 2),
            datetime DATETIME,
            ecommerce_website_name VARCHAR(255),
            FOREIGN KEY (payment_txn_id) REFERENCES Payments(payment_txn_id),
            FOREIGN KEY (product_id) REFERENCES Products(product_id),
            FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
        );
        """

In [23]:
DDL_methods.create_and_verify_table(cursor,'customers', customer_query)
DDL_methods.create_and_verify_table(cursor,'Products', products_query)
DDL_methods.create_and_verify_table(cursor,'Payments', payments_query)
DDL_methods.create_and_verify_table(cursor,'Orders', orders_query)

successfully created the table
successfully created the table
successfully created the table
successfully created the table

In [ ]:
#insert data